.uploader {
	width:100%;
	height:120px;
	background:#f3f3f3;
	border:2px dashed #e8e8e8;
}
.uploader:hover{
	background:#e6e6e6;
	border:2px dashed #c6c6c6;
}

#imagePhoto{
    width:100%;
    height:100%;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}

#coverPhoto{
    width:100%;
    height:100%;
    left:0;
    z-index:2;
    opacity:0;
    cursor:pointer;
}